<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sigma</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css" rel="stylesheet' %}">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
        <!-- <h1>SIGMA</h1> -->
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="dropdown"><a href="#"><span>About Us</span> </a>
            <ul>
              <li><a href="{% url 'profile' %}">Company Profile</a></li>
              <li><a href="{% url 'team' %}">Our Team</a></li>
              <li><a href="{% url 'client' %}">Our Clients</a></li>
              <li><a href="{% url 'partners' %}">Partners & Investors</a></li>
              <li><a href="{% url 'gallery' %}">Gallery</a></li>
            </ul>
          </li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'facilities' %}">Facilities</a></li>
          <li class="contactmob"><a href="{% url 'contact' %}">Contact Us</a></li>
          <li></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <a href="{% url 'contact' %}" class="btn-get-started contactus">Contact Us</a>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero " data-aos="fade-in">
    <div class="container position-relative">
      <div class="row gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          {% if hero_banner %}
            <h2>{{ hero_banner.title }}</h2>
            <p>{{ hero_banner.content }}</p>
          {% else %}
            <h2>Empowering Defence: Sigma's Dynamic Solutions</h2>
            <p>Sigma: Pioneering Defence Solutions Worldwide. ISO 9001:2015 Certified Excellence. Partnering with Industry Leaders for
            Innovation.</p>
          {% endif %}
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="" class="btn-get-started">Contact Us</a>
            <a href="#about" class="glightbox btn-watch-video d-flex align-items-center"><span>Know More <i class="fa fa-arrow-down"></i></span></a>
          </div>
        </div>
        <div class="col-lg-1 order-1 order-lg-2"></div>
        <div class="col-lg-6 order-1 order-lg-2">
          {% if hero_banner.image %}
            <img src="{{ hero_banner.image.url }}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
          {% else %}
            <img src="{% static 'img/banner.png' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
          {% endif %}
        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <section class="bannerbelow" data-aos="fade-up">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-1 "> </div>
          {% if body_banners %}
            {% for body_banner in body_banners %}
            <div class="col-md-2 col-xs-6 bannericon">
              {% if body_banner %}
                {% if body_banner.image %}
                  <img src="{{ body_banner.image.url }}">
                {% else %}
                  <img src="{% static 'img/bannericon.png' %}">
                {% endif %}
                <h2>{{ body_banner.title }}</h2>
                <p>{{ body_banner.content }}</p>
              {% endif %}
            </div>
            {% endfor %}
          {% else %}
            <div class="col-md-2 col-xs-6 bannericon">
              <img src="{% static 'img/bannericon.png' %}">
              <h2>Manufacturing</h2>
              <p>Crafting Excellence: Where Precision Meets Innovation. Explore Sigma's Manufacturing Section for Cutting-Edge Solutions.</p>
            </div>
            <div class="col-md-2 col-xs-6 bannericon">
              <img src="{% static 'img/bannericon.png' %}">
              <h2>Indigenisation</h2>
              <p>Empowering Self-Reliance: Sigma's indigenization Initiative. Innovating Locally, Impacting Globally.</p>
            </div>
            <div class="col-md-2 col-xs-6 bannericon">
              <img src="{% static 'img/bannericon.png' %}">
              <h2>Research & Design</h2>
              <p>Innovating Tomorrow, Today: Sigma's Research and Design Hub. Where Ideas Shape the Future of Defence Solutions.</p>
            </div>
            <div class="col-md-2 col-xs-6 bannericon">
              <img src="{% static 'img/bannericon.png' %}">
              <h2>Reverse Engineering</h2>
              <p>Unlocking Insights, Redefining Solutions: Sigma's Reverse Engineering Expertise. Transforming Challenges into
              Opportunities.</p>
            </div>
            <div class="col-md-2 col-xs-6 bannericon">
              <img src="{% static 'img/bannericon.png' %}">
              <h2>Calibration</h2>
              <p>Where Precision Meets Perfection. Experience Unparalleled Accuracy and Reliability in Every Measurement with Sigma's
              Expert Calibration Services.</p>
            </div>
          {% endif %}
          <div class="col-md-1 "> </div>
        </div>
      </div>
    </section>

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about aboutb">
      <div class="container" >

        <div class="section-header" data-aos="fade-in">
          {% if whatwedo_banner %}
            <h2>What We Do</h2>
            <p>{{ whatwedo_banner.content }}</p>
          {% else %}
            <h2>What We Do</h2>
            <p>Your Premier Destination for Cutting-Edge Defence Solutions. From innovative research and design to meticulous calibration and reverse engineering, we specialize in elevating defence technology to new heights.</p>
          {% endif %}
        </div>

        {% if whatwedo_contents %}
          {% for whatwedo_content in whatwedo_contents %}
            {% if forloop.counter|divisibleby:2 %}
              <div class="row gy-4" data-aos="fade-up">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 services">
                  <div class="row gy-4">
                    <div class="col-sm-8 col-xs-8 servicestext">
                      <h3><span>{{ forloop.counter|stringformat:"02d" }}</span> {{ whatwedo_content.title }}</h3>
                      <p>{{ whatwedo_content.content }}</p>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                      {% if whatwedo_content.image %}
                      <img src="{{ whatwedo_content.image.url }}" width="100%">
                      {% else %}
                      <img src="{% static 'img/services1.png' %}" width="100%">
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="row gy-4" data-aos="fade-up">
                <div class="col-sm-6 services">
                  <div class="row gy-4">
                    <div class="col-sm-4 col-xs-4">
                      {% if whatwedo_content.image %}
                      <img src="{{ whatwedo_content.image.url }}" width="100%">
                      {% else %}
                      <img src="{% static 'img/services1.png' %}" width="100%">
                      {% endif %}
                    </div>
                    <div class="col-sm-8 col-xs-8 servicestext">
                      <h3><span>{{ forloop.counter|stringformat:"02d" }}</span> {{ whatwedo_content.title }}</h3>
                      <p>{{ whatwedo_content.content }}</p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="row gy-4" data-aos="fade-up">
            <div class="col-sm-6 services">
              <div class="row gy-4">
                <div class="col-sm-4 col-xs-4">
                  <img src="{% static 'img/services1.png' %}" width="100%">
                </div>
                <div class="col-sm-8 col-xs-8 servicestext">
                  <h3><span>01</span> Callibration</h3>
                  <p>Calibration and AMC Support of Major High end Test equipments.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row gy-4" data-aos="fade-up">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 services">
              <div class="row gy-4">
                <div class="col-sm-8 col-xs-8 servicestext">
                  <h3><span>02</span> Repair & Overhaul</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit, sed do eiusmod tempor incididunt magna aliqua.</p>
                </div>
                <div class="col-sm-4 col-xs-4">
                  <img src="{% static 'img/services1.png' %}" width="100%">
                </div>
              </div>
            </div>
          </div>

          <div class="row gy-4" data-aos="fade-up">
            <div class="col-sm-6 services">
              <div class="row gy-4">
                <div class="col-sm-4 col-xs-4">
                  <img src="{% static 'img/services1.png' %}" width="100%">
                </div>
                <div class="col-sm-8 col-xs-8 servicestext">
                  <h3><span>03</span> Fabrication of ATEs</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit, sed do eiusmod tempor incididunt magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row gy-4" data-aos="fade-up">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 services">
              <div class="row gy-4">
                <div class="col-sm-8 col-xs-8 servicestext">
                  <h3><span>04</span> AMC of Equipment</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit, sed do eiusmod tempor incididunt magna aliqua.</p>
                </div>
                <div class="col-sm-4 col-xs-4">
                  <img src="{% static 'img/services1.png' %}" width="100%">
                </div>
              </div>
            </div>
          </div>

          <div class="row gy-4" data-aos="fade-up">
            <div class="col-sm-6 services">
              <div class="row gy-4">
                <div class="col-sm-4 col-xs-4">
                  <img src="{% static 'img/services1.png' %}" width="100%">
                </div>
                <div class="col-sm-8 col-xs-8 servicestext">
                  <h3><span>05</span> Indigenistaion</h3>
                  <p>Empowering India's Self-Reliance: Sigma's Indigenization Initiative. Pioneering Local Solutions for National Strength and Innovation.</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        </div>
    </section><!-- End About Us Section -->


    <!-- ======= Aboutmob Us Section ======= -->
    <!-- <section id="about" class="about aboutmob">
      <div class="container" >

        <div class="section-header" data-aos="fade-in">
          <h2>What We Do</h2>
          <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
        </div>

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-sm-6 services">
            <div class="row gy-4">
              <div class="col-sm-4 col-xs-4">
                <img src="{% static 'img/services1.png' %}" width="100%">
              </div>
              <div class="col-sm-8 col-xs-8 servicestext">
                <h3><span>01</span> Callibration</h3>
                <p>Calibration and AMC Support of Major High end Test equipments.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-sm-6"></div>
          <div class="col-sm-6 services">
            <div class="row gy-4">
              <div class="col-sm-4 col-xs-4">
                <img src="{% static 'img/services1.png' %}" width="100%">
              </div>
              <div class="col-sm-8 col-xs-8 servicestext">
                <h3><span>02</span> Repair & Overhaul</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit, sed do eiusmod tempor incididunt magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-sm-6 services">
            <div class="row gy-4">
              <div class="col-sm-4 col-xs-4">
                <img src="{% static 'img/services1.png' %}" width="100%">
              </div>
              <div class="col-sm-8 col-xs-8 servicestext">
                <h3><span>03</span> Fabrication of ATEs</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit, sed do eiusmod tempor incididunt magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-sm-6"></div>
          <div class="col-sm-6 services">
            <div class="row gy-4">
              <div class="col-sm-4 col-xs-4">
                <img src="{% static 'img/services1.png' %}" width="100%">
              </div>
              <div class="col-sm-8 col-xs-8 servicestext">
                <h3><span>04</span> AMC of Equipment</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit, sed do eiusmod tempor incididunt magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-sm-6 services">
            <div class="row gy-4">
              <div class="col-sm-4 col-xs-4">
                <img src="{% static 'img/services1.png' %}" width="100%">
              </div>
              <div class="col-sm-8 col-xs-8 servicestext">
                <h3><span>05</span> Indigenistaion</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit, sed do eiusmod tempor incididunt magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>End Aboutmob Us Section -->

    <section id="investors" class="investors">
      <div class="container">

        <div class="section-header" data-aos="fade-in">
          {% if partner_banner %}
            <h2>{{ partner_banner.title }}</h2>
            <p>{{ partner_banner.content }}</p>
          {% else %}
            <h2>Partners & Investors</h2>
            <p>Fostering Growth Together: Sigma's Partners and Investors. Join Sigma in Building Strong Collaborative Relationships to Drive Innovation and Success.</p>
          {% endif %}
        </div>

        <div class="row gy-4" data-aos="fade-up">
        
          {% if partners %}
            {% for partner in partners %}
              <div class="col-sm-4">
                <div class="partners">
                  <img src="{{ partner.image.url}}">
                  <h3>{{ partner.name }}</h3>
                  <p><i class="fa fa-globe"></i><a href="{{ partner.website }}" target="_blank">{{ partner.website }}</a></p>
                </div>
              </div>
            {% endfor %}

          {% else %}
       <!-- <div class="row gy-4" data-aos="fade-up"> -->
            <div class="col-sm-4">
              <div class="partners">
                <img src="{% static 'img/amazon.png' %}">
                <h3>Amazon Limited</h3>
                <p><i class="fa fa-globe"></i>www.amazon.com </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="partners">
                <img src="{% static 'img/amazon.png' %}">
                <h3>Amazon Limited</h3>
                <p><i class="fa fa-globe"></i>www.amazon.com </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="partners">
                <img src="{% static 'img/amazon.png' %}">
                <h3>Amazon Limited</h3>
                <p><i class="fa fa-globe"></i>www.amazon.com </p>
              </div>
            </div>
          {% endif %}
        </div>

        <center> <a href="{% url 'partners' %}" class="btn-inner-section">See All <i class="fa fa-arrow-right"></i> </a> </center>

      </div>
    </section>

    <section class="connect">
      <div class="container">
        <div class="connecttext">
          <h2>Connect With Us</h2>
          <p>Ready to see SIGMA in action? </p>
          <a href="{% url 'contact' %}" class="btn-get-started">Contact Us</a>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" data-aos="fade-up">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-8 col-md-12 footer-info">
          <a href="{% url 'index' %}" class="logo d-flex align-items-center">
            <img src="{% static 'img/logo.png' %}" width="auto">
          </a>
          {% if settings.description %}
            <p>{{ settings.description }}</p>
          {% else %}
            <p>Your all-in-one solution for elevating defense solutions</p>
          {% endif %}
          <div class="social-links d-flex mt-4">
            <a href="{{ settings.twitter }}" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="{{ settings.facebook }}" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="{{ settings.instagram }}" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'profile' %}">About Us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'facilities' %}">Facilities</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <ul>
            <li><a href="{% url 'team' %}">Our Team</a></li>
            <li><a href="{% url 'client' %}">Our Clients</a></li>
            <li><a href="faq.html">FAQ's</a></li>
            <li><a href="{% url 'contact' %}">Contact us</a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>