{% extends 'custom_admin/base.html' %}
{% load static %}


{% block extra_head %}
<style>
    .form-control {
        border: 1px solid #d2d6da !important;
        padding-left: 5px !important;
    }

    .col-form-label {
        margin-top: 20px !important;
        width: 500px !important;
    }

    .btn {
        margin-top: 20px !important;
        margin-right: 20px !important;
    }
</style>
{% endblock %}

{% block content %}

<div class="col-6 grid-margin stretch-card mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit {{ table_name }}</h4>
            <p>Member ID: {{ team_id }}</p>

            <form class="forms-sample" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="id_name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        {{ form.name }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_member_category" class="col-sm-2 col-form-label">Member Category</label>
                    <div class="col-sm-10">
                        {{ form.member_category }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_member_designation" class="col-sm-2 col-form-label">Member Designation</label>
                    <div class="col-sm-10">
                        {{ form.member_designation }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_image" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        {{ form.image }}
                        <textarea name="image" id="image" style="display: none;"></textarea>
                        <img src="{{form.image.url}}" id="image" style="height: auto;width: 100px;">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_linkedin" class="col-sm-2 col-form-label">LinkedIn</label>
                    <div class="col-sm-10">
                        {{ form.linkedin }}
                    </div>
                </div>

                {{ form.errors }}

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a href="{% url 'team_view' %}" class="btn btn-dark">Cancel</a>

            </form>
        </div>
    </div>
</div>

{% endblock content %}